@use "../abstracts" as *;

.header {
  //display: none;


  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  min-height: 175px;
  background: linear-gradient(180deg, rgba(13, 13, 13, 1), rgba(13, 13, 13, 0) 100%);
  pointer-events: none;

  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    padding-block: var(--spacing-m);
    pointer-events: auto;
  }

  &__logo {
    width: 370px;
    height: 117px;
  }

  &__body {
    grid-column: 5 / span 8;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__nav {
    @include flex-center();
  }

  &__nav-list {
    display: flex;
    column-gap: var(--spacing-s);
  }

  &__nav-item {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
  }

  &__nav-link {
    //font-kerning: none;  // 🔥 Вот это — главный фикс! Отключает браузерный кернинг
    //-webkit-text-rendering: optimizeSpeed;  // Для Safari, если нужно (опционально)
    //text-rendering: optimizeSpeed;
  }

  &__btn {
    overflow: hidden;
  }

  .char {
    font-kerning: none;
    line-height: inherit;
  }

  &__overlay {
    @include mobile-above {
      display: contents;
    }

    @include mobile {
      position: fixed;
      inset: 0;
      padding: 16px;
      background-color: darkcyan;
      transition-duration: var(--transition-duration);

      &:not(.is-active) {
        @include hide;

        translate: 100%;
      }
    }
  }

  &__menu-list {
    display: flex;
    column-gap: 20px;
  }

  &__logo-mobile {
    display: none;
  }

  &__burger {
    display: none;
  }

  &__menu-link {


    &.is-active {
      color: tomato;
      pointer-events: none;
    }
  }

  @include tablet {
    min-height: 150px;
    background: linear-gradient(180deg, rgba(13, 13, 13, 0.5), rgba(13, 13, 13, 0) 100%);

    &__body {
      display: none;
    }



    &__logo {
      display: block;
      width: 184px;
      height: 60px;

      position: absolute;
      top: 16px;
      left: 16px;
    }

    &__burger {
      display: block;
      width: 40px;
      height: 40px;

      position: absolute;
      right: 20px;
      top: 20px;
      pointer-events: auto;
    }
  }

  @include mobile {
    min-height: 60px;

    &__logo {
      width: 72px;
      height: 23px;
    }

    &__burger {
      width: 24px;
      height: 24px;

      right: 14px;
      top: 16px;
    }

  }


}
