@use "../abstracts" as *;

.hero {
  --padding-top: 55px;

  height: 200vh;
  //border: 1px solid tomato;

  &__fixed {
    //height: 100vh;
  }

  &__inner {
    padding-top: var(--padding-top);
    //border: 1px solid blue;
    height: 100%;
  }

  //&__spacer {
  //  height: 100px;
  //  background: tomato;
  //}

  &__title {
    max-width: 370px;

    .lineParent-mask {
      --spacing: 5px;
      padding-bottom: var(--spacing);
      margin-bottom: calc(-1 * var(--spacing));

      font-kerning: none;
      line-height: inherit;
    }
  }

  &__item {
    position: relative;
    z-index: -1;
    overflow: hidden;
    grid-column: span 4;

    &--title {
      padding-bottom: var(--spacing-l);
      align-self: end;
    }


    &--inverse {

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.3);
      }

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: #ffffff;
        z-index: 10;
        mix-blend-mode: difference;
      }
    }

  }

  &__move-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }

  &__image {
    --padding-top: 55px;
    width: 100%;
    height: calc(100vh - var(--padding-top));
    object-fit: cover;

    //&--move {
    //  position: absolute;
    //  left: 0;
    //  bottom: 0;
    //}

  }

  @include tablet {
    display: none;

    &-other {
      display: none;
    }
  }

}

