@use "../abstracts" as *;

.service {
  padding-block: var(--section-padding-y);

  &__head {
    grid-column: span 3;

    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-m);
  }

  &__btn {
    font-family: var(--font-vela);
    font-size: 38px;
    font-weight: $font-weight-bold;
    line-height: var(--lh-xs);
    letter-spacing: var(--ls-m);
    color: var(--color-text-secondary);
    background: transparent;
    border: none;
    text-align: start;
    padding: 0;

    &--active {
      color: var(--color-text-primary);
    }
  }

  &__body {
    grid-column: 5 / span 8;
  }
}