@use "../abstracts" as *;

.service {
  padding-block: var(--section-padding-y);
  //border: 1px solid blueviolet;

  &__wrapper {
    height: 200vh;
  }

  &__inner {
    //height: 100vh;
  }

  &__head {
    grid-column: span 3;

    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-m);
  }

  &__btn {
    font-family: var(--font-vela);
    font-size: 38px;
    font-weight: $font-weight-bold;
    line-height: var(--lh-xs);
    letter-spacing: var(--ls-m);
    color: var(--color-text-secondary);
    background: transparent;
    border: none;
    text-align: start;
    padding: 0;

    &--active {
      color: var(--color-text-primary);
    }
  }

  &__body {
    grid-column: 5 / span 8;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  @include tablet {
    padding-block: 80px;

    &__wrapper {
      height: auto;
    }

    &__grid {
      row-gap: 24px;
    }

    &__head {
      grid-column: 1 /-1;

      row-gap: 6px;
    }

    &__btn {
      font-size: 28px;
    }

    &__body {
      grid-column: 1 /-1;

      grid-row: 2;
    }

    .accordion__body {
      display: flex;
      flex-direction: column;
      row-gap: 6px;
    }

    .accordion__item {
      background-color: var(--color-bg-secondary);
    }


  }

  @include mobile {
    .accordion__body {
      row-gap: 4px;
    }

    &__btn {
      font-size: 18px;
    }

  }
}

.divider {
  height: 100vh;
  border: 1px solid tomato;
}