@use "../abstracts" as *;

.btn {
  @include btn-reset;
  min-height: 31px;
  border-radius: var(--border-radius-m);
  color: var(--color-text-primary-inverse);
  font-size: 15px;
  line-height: var(--lh-xs);
  letter-spacing: var(--letter-spacing-s);
  background-color: var(--color-bg-primary-inverse);
  padding-inline: var(--spacing-m);

  @include hover() {
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
  }

  &--full {
    width: 100%;
    min-height: 47px;
  }
}