@use "../abstracts" as *;

.form {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-m);

  &__field {}

  &__label {
    display: none;
  }

  &__input {
    font-family: var(--font-vela);
    font-size: 15px;
    line-height: var(--lh-xs);
    letter-spacing: var(--ls-s);
    color: var(--color-text-secondary);
    padding: var(--spacing-s);
    width: 100%;
    background: var(--color-bg-secondary);
    border: none;
    border-radius: var(--border-radius-m);

    &--task {
      resize: none;
    }
  }




}