@use "../abstracts" as *;

.loader {
  position: fixed;
  inset: 0;
  z-index: 91;
  padding-top: var(--spacing-m);

  pointer-events: none;
  //background: var(--color-bg-primary);

  visibility: hidden;

  svg {
    flex: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    &--adaptation {
      display: none;
    }
  }



  &__surname {
    width: 675px;
    height: var(--height-letter);
  }

  &__row {
    display: flex;

    &--top {
      justify-content: space-between;
    }
  }

  &__item {
    width: 100%;
    overflow: hidden;

    &--max {
      max-width: 380px;
    }

    &--mikhailov {
      display: flex;
      justify-content: flex-end;
      align-items: end;
      max-width: 808.5px;
    }

    &--architecture {
      max-width: 1124px;
    }

  }

  .logo-loader__wrapper {
    position: relative;
  }

  .logo-loader__text {
    position: absolute;
    left: 0;
    bottom: -22px;
    color: var(--color-text-secondary);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
  }

  &__mask {
    overflow: hidden;
  }


  #logo {
    display: none;
  }

  //[data-loader="letter"] {
  //  visibility: hidden;
  //}

  @include tablet {
    padding-bottom: 25px;
    height: 100%;
    background: var(--color-bg-primary);


    .logo-loader-adaptation {
      height: auto;
      width: 100%;
      max-width: 100%;
      overflow: hidden;
    }


    .loader__wrapper--desktop {
      display: none;
    }

    .loader__inner {
      height: 100%;
    }


    .loader__wrapper--adaptation {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      row-gap: 0;
    }

    .loader__text {
      font-size: 59px;
      font-family: var(--font-vela);
      line-height: var(--lh-s);
      letter-spacing: var(--ls-s);
      font-weight: $font-weight-semibold;
    }

    .counter__numbers, .counter__percentage {
      color: var(--color-text-secondary);
      font-size: 20px;
      font-family: var(--font-vela);
      line-height: var(--lh-s);
      letter-spacing: var(--ls-s);
      font-weight: $font-weight-semibold;
    }
  }

  @include mobile {

    .loader__text {
      font-size: 23px;
    }
    .counter__numbers, .counter__percentage {
      font-size: 11px;
    }
  }

}