@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --font-vela: "VelaSans", sans-serif;
  --font-inter: "InterTight", sans-serif;
  --color-bg-primary: #0D0D0D;
  --color-bg-primary-inverse: #FBFBFB;
  --color-bg-secondary: #1B1B1B;
  --color-text-primary: #FBFBFB;
  --color-text-primary-inverse: #0D0D0D;
  --color-text-secondary: #656565;
  --lh-xxs: 0.85;
  --lh-xs: 1;
  --lh-s: 1.1;
  --lh-m: 1.2;
  --ls-s: -0.02em;
  --ls-m: -0.04em;
  --container-width: 94.5rem;
  --container-padding-x: 1rem;
  --border-radius-s: 0.125rem;
  --border-radius-m: 0.25rem;
  --section-padding-y: 6.5625rem;
  --100vw: 100vw;
  --100vh: 100vh;
  --vh: 1vh;
  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 2rem;
  --height-letter: 7.3125rem;
}

@font-face {
  font-family: VelaSans;
  src: url("/mxm/fonts/VelaSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: VelaSans;
  src: url("/mxm/fonts/VelaSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: InterTight;
  src: url("/mxm/fonts/InterTight-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html.is-lock {
  overflow: hidden !important;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-primary);
}

main {
  flex-grow: 1;
}

a,
button,
label,
input,
select,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a[aria-label], button[aria-label] {
  position: relative;
}
a[aria-label]::before, button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 2.75rem;
  height: 2.75rem;
}

/* Для мобильной версии */
body.is-loading .loader__wrapper--adaptation [data-loader-mobile=letterLogo],
body.is-loading .loader__text,
body.is-loading .counter--adaptation {
  opacity: 0;
}

html {
  font-size: 1.058vw;
}
@media (max-width: 1440px) {
  html {
    font-size: 1.143vw;
  }
}
@media (max-width: 1023px) {
  html {
    font-size: 2.083vw;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 5vw;
  }
}

body {
  font-size: 1.25rem;
  color: var(--color-text-primary);
  line-height: var(--lh-s);
  letter-spacing: var(--ls-s);
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}

.heading-l {
  font-family: var(--font-inter);
  font-size: 8.0625rem;
  font-weight: 700;
  line-height: var(--lh-xxs);
  letter-spacing: var(--ls-m);
}

.heading-m {
  font-family: var(--font-vela);
  font-size: 2.375rem;
  font-weight: 700;
  line-height: var(--lh-xs);
  letter-spacing: var(--ls-m);
}
@media (max-width: 1023px) {
  .heading-m {
    font-size: 1.75rem;
  }
}
@media (max-width: 767px) {
  .heading-m {
    font-size: 1.125rem;
  }
}

.text-preloader {
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 10.0625rem;
  line-height: var(--lh-xxs);
  letter-spacing: var(--ls-m);
}

.text-big {
  font-family: var(--font-vela);
  font-weight: 600;
  font-size: 1.75rem;
  line-height: var(--lh-s);
  letter-spacing: var(--ls-s);
}

.text-medium {
  font-family: var(--font-vela);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: var(--lh-s);
  letter-spacing: var(--ls-s);
}

.text-small, .link {
  font-family: var(--font-vela);
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: var(--lh-xs);
  letter-spacing: var(--ls-s);
}
@media (max-width: 767px) {
  .text-small, .link {
    font-size: 0.5625rem;
  }
}

.link:hover {
  color: var(--color-text-secondary);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 1023px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .visible-tablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@media (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

.is-loading {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
.is-loading .hero__title,
.is-loading .header__switcher,
.is-loading .header__btn,
.is-loading .header__nav-link,
.is-loading [data-animation=hero-images-review],
.is-loading .hero__image--move,
.is-loading .counter--desktop .counter__inner,
.is-loading .footer {
  visibility: hidden;
  opacity: 0;
}

.is-text-secondary {
  color: var(--color-text-secondary);
}

.chars {
  visibility: hidden;
  opacity: 0;
}

[data-fouc] {
  visibility: hidden;
  opacity: 0;
}

.dev-hidden {
  display: none;
}

.dev-outline {
  outline: tomato solid 0.0625rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font-vela);
  font-weight: 600;
  min-height: 1.9375rem;
  border-radius: var(--border-radius-m);
  color: var(--color-text-primary-inverse);
  font-size: 0.9375rem;
  line-height: var(--lh-xs);
  letter-spacing: var(--letter-spacing-s);
  background-color: var(--color-bg-primary-inverse);
  padding-inline: var(--spacing-m);
}
@media (hover: hover) and (prefers-reduced-motion: no-preference) {
  .btn:hover {
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
  }
}
.btn--full {
  width: 100%;
  min-height: 2.9375rem;
}
@media (max-width: 1023px) {
  .btn--full {
    min-height: 2.4375rem;
  }
}
@media (max-width: 767px) {
  .btn--full {
    min-height: 1.875rem;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: 0.5625rem;
  }
}

.text {
  font-size: 4.375rem;
  max-width: 62.5rem;
}
@media (max-width: 1023px) {
  .text {
    font-size: 3.125rem;
  }
}

.burger {
  --_height: 0.125rem;
  --_center: calc(50% - var(--_height) / 2);
  --_padding-x: 0.25rem;
  --_padding-y: 0.25rem;
  width: 2.125rem;
  height: 2.125rem;
  position: relative;
  padding: var(--_padding-y) var(--_padding-x);
  color: red;
  border: none;
}
.burger__line {
  position: absolute;
  width: calc(100% - var(--_padding-x) * 2);
  height: var(--_height);
  background-color: currentColor;
  transition-duration: var(--transition-duration);
}
.burger__line:nth-child(1) {
  top: var(--_padding-y);
  left: var(--_padding-x);
}
.burger__line:nth-child(2) {
  top: var(--_center);
  left: var(--_padding-x);
}
.burger__line:nth-child(3) {
  bottom: var(--_padding-y);
  left: var(--_padding-x);
}
.burger.is-active .burger__line:nth-child(1) {
  top: var(--_center);
  transform: rotate(45deg);
}
.burger.is-active .burger__line:nth-child(2) {
  opacity: 0;
}
.burger.is-active .burger__line:nth-child(3) {
  top: var(--_center);
  transform: rotate(-45deg);
}
.switcher {
  display: inline-flex;
  align-items: center;
  column-gap: 0.625rem;
  border: 0.0625rem solid transparent;
  padding: 0;
  background: transparent;
  overflow: hidden;
  color: var(--color-text-primary);
}
.switcher:hover {
  color: var(--color-text-secondary);
}
.switcher__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
}
.switcher__text, .switcher__icon {
  color: inherit;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-m);
}
.form__label {
  display: none;
}
.form__input {
  font-family: var(--font-vela);
  font-size: 0.9375rem;
  line-height: var(--lh-xs);
  letter-spacing: var(--ls-s);
  color: var(--color-text-secondary);
  padding: var(--spacing-s);
  width: 100%;
  background: var(--color-bg-secondary);
  border: none;
  border-radius: var(--border-radius-m);
}
.form__input--task {
  resize: none;
}
@media (max-width: 1023px) {
  .form {
    row-gap: 0.375rem;
  }
  .form__consent {
    color: var(--color-text-secondary);
    font-size: 0.9375rem;
  }
  .form__consent a {
    font-size: inherit;
  }
}
@media (max-width: 767px) {
  .form__input {
    font-size: 0.5625rem;
  }
  .form__consent {
    color: var(--color-text-secondary);
    font-size: 0.5625rem;
  }
  .form__consent a {
    font-size: inherit;
  }
}

.accordion {
  display: none;
}
.accordion--active {
  display: block;
}
.accordion__item {
  padding: 0.625rem;
  cursor: pointer;
  border-radius: var(--border-radius-m);
}
@media (hover: hover) and (prefers-reduced-motion: no-preference) {
  .accordion__item:hover {
    background: var(--color-bg-secondary);
    color: var(--color-text-primary);
  }
}
.accordion__item--active {
  background: var(--color-bg-secondary);
  color: var(--color-text-primary);
}
.accordion__item.is-open {
  background-color: var(--color-bg-secondary);
}
.accordion__item.is-open .accordion__title {
  color: var(--color-text-primary);
}
.accordion__item.is-open .accordion__icon {
  color: var(--color-text-primary);
  transform-origin: center;
  transform: rotate(45deg);
}
.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-secondary);
}
.accordion__title {
  color: var(--color-text-secondary);
  transition: color 0.3s ease;
  font-family: var(--font-vela);
  font-weight: 600;
  font-size: 1.75rem;
  line-height: var(--lh-s);
  letter-spacing: var(--ls-s);
}
.accordion__icon {
  width: 0.75rem;
  height: 0.75rem;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}
.accordion__content {
  max-width: 38.125rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.accordion__text {
  padding-top: 0.75rem;
  color: var(--color-text-secondary);
}
@media (max-width: 1023px) {
  .accordion__title {
    font-size: 1.25rem;
  }
}
@media (max-width: 767px) {
  .accordion__title {
    font-size: 0.6875rem;
  }
}

.loader {
  position: fixed;
  inset: 0;
  z-index: 91;
  padding-top: var(--spacing-m);
  pointer-events: none;
}
.loader svg {
  flex: none;
}
.loader__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.loader__wrapper--adaptation {
  display: none;
}
.loader__surname {
  width: 42.1875rem;
  height: var(--height-letter);
}
.loader__row {
  display: flex;
}
.loader__row--top {
  justify-content: space-between;
}
.loader__item {
  width: 100%;
  overflow: hidden;
}
.loader__item--max {
  max-width: 23.75rem;
}
.loader__item--mikhailov {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  max-width: 50.53125rem;
}
.loader__item--architecture {
  max-width: 70.25rem;
}
.loader .logo-loader__wrapper {
  position: relative;
}
.loader .logo-loader__text {
  position: absolute;
  left: 0;
  bottom: -1.375rem;
  color: var(--color-text-secondary);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}
.loader__mask {
  overflow: hidden;
}
.loader #logo {
  display: none;
}
@media (max-width: 1023px) {
  .loader {
    padding-bottom: 1.5625rem;
    height: 100%;
    background: var(--color-bg-primary);
  }
  .loader .logo-loader-adaptation {
    height: auto;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  .loader .loader__wrapper--desktop {
    display: none;
  }
  .loader .loader__inner {
    height: 100%;
  }
  .loader .loader__wrapper--adaptation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    row-gap: 0;
  }
  .loader .loader__text {
    font-size: 3.6875rem;
    font-family: var(--font-vela);
    line-height: var(--lh-s);
    letter-spacing: var(--ls-s);
    font-weight: 600;
  }
  .loader .counter__numbers, .loader .counter__percentage {
    color: var(--color-text-secondary);
    font-size: 1.25rem;
    font-family: var(--font-vela);
    line-height: var(--lh-s);
    letter-spacing: var(--ls-s);
    font-weight: 600;
  }
}
@media (max-width: 767px) {
  .loader .loader__text {
    font-size: 1.4375rem;
  }
  .loader .counter__numbers, .loader .counter__percentage {
    font-size: 0.6875rem;
  }
}

.logo-loader {
  display: flex;
  position: relative;
  height: 100%;
}
.logo-loader__m {
  height: var(--height-letter);
  overflow: hidden;
  flex-shrink: 0;
}
.logo-loader__ax {
  position: absolute;
  height: var(--height-letter);
  width: 13.75rem;
  display: flex;
  overflow: hidden;
}
.logo-loader__a {
  height: var(--height-letter);
}
.logo-loader__x {
  height: var(--height-letter);
}
.logo-loader__xm {
  display: flex;
}
.logo-loader__x-figure {
  flex-shrink: 0;
  height: var(--height-letter);
  overflow: hidden;
}
.logo-loader__m-move {
  height: var(--height-letter);
}
.logo-loader__letter-wrapper {
  display: flex;
}

.counter {
  overflow: hidden;
}
.counter--desktop {
  position: fixed;
  right: var(--spacing-m);
  bottom: var(--spacing-m);
  z-index: 100;
}
.counter--adaptation {
  display: none;
}
.counter__inner {
  display: flex;
}
@media (max-width: 1023px) {
  .counter--desktop {
    display: none;
  }
  .counter--adaptation {
    display: block;
    visibility: hidden;
    opacity: 0;
  }
  .counter--adaptation .counter__inner {
    visibility: inherit;
    opacity: 1;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  min-height: 10.9375rem;
  background: linear-gradient(180deg, rgb(13, 13, 13), rgba(13, 13, 13, 0) 100%);
  pointer-events: none;
}
.header__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-block: var(--spacing-m);
  pointer-events: auto;
}
.header__logo {
  width: 23.125rem;
  height: 7.3125rem;
}
.header__body {
  grid-column: 5/span 8;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav-list {
  display: flex;
  column-gap: var(--spacing-s);
}
.header__nav-item {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.header__btn {
  overflow: hidden;
}
.header .char {
  font-kerning: none;
  line-height: inherit;
}
@media (min-width: 768px) {
  .header__overlay {
    display: contents;
  }
}
@media (max-width: 767px) {
  .header__overlay {
    position: fixed;
    inset: 0;
    padding: 1rem;
    background-color: darkcyan;
    transition-duration: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu-list {
  display: flex;
  column-gap: 1.25rem;
}
.header__logo-mobile {
  display: none;
}
.header__burger {
  display: none;
}
.header__menu-link.is-active {
  color: tomato;
  pointer-events: none;
}
@media (max-width: 1023px) {
  .header {
    min-height: 9.375rem;
    background: linear-gradient(180deg, rgba(13, 13, 13, 0.5), rgba(13, 13, 13, 0) 100%);
  }
  .header__body {
    display: none;
  }
  .header__logo {
    display: block;
    width: 11.5rem;
    height: 3.75rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .header__burger {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    pointer-events: auto;
  }
}
@media (max-width: 767px) {
  .header {
    min-height: 3.75rem;
  }
  .header__logo {
    width: 4.5rem;
    height: 1.4375rem;
  }
  .header__burger {
    width: 1.5rem;
    height: 1.5rem;
    right: 0.875rem;
    top: 1rem;
  }
}

.hero {
  --padding-top: 3.4375rem;
  height: 200vh;
}
.hero__inner {
  padding-top: var(--padding-top);
  height: 100%;
}
.hero__title {
  max-width: 23.125rem;
}
.hero__title .lineParent-mask {
  --spacing: 0.3125rem;
  padding-bottom: var(--spacing);
  margin-bottom: calc(-1 * var(--spacing));
  font-kerning: none;
  line-height: inherit;
}
.hero__item {
  position: relative;
  z-index: -1;
  overflow: hidden;
  grid-column: span 4;
}
.hero__item--title {
  padding-bottom: var(--spacing-l);
  align-self: end;
}
.hero__item--inverse::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
}
.hero__item--inverse::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #ffffff;
  z-index: 10;
  mix-blend-mode: difference;
}
.hero__move-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.hero__image {
  --padding-top: 3.4375rem;
  width: 100%;
  height: calc(100vh - var(--padding-top));
  object-fit: cover;
}
@media (max-width: 1023px) {
  .hero {
    display: none;
  }
  .hero-other {
    display: none;
  }
}

.hero-mobile {
  display: none;
}
@media (min-width: 1024px) {
  .hero-mobile__swiper {
    display: none;
  }
}
@media (max-width: 1023px) {
  .hero-mobile {
    position: relative;
    display: block;
    height: calc(var(--vh, 1vh) * 100);
    padding-block: 1rem;
  }
  .hero-mobile::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .hero-mobile__swiper {
    width: 100%;
    height: 100%;
  }
  .hero-mobile__inner {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .hero-mobile__title {
    font-family: var(--font-vela);
    font-size: 2.375rem;
    font-weight: 700;
    line-height: var(--lh-xs);
    letter-spacing: var(--ls-m);
    margin-top: auto;
    margin-bottom: auto;
    max-width: 23rem;
  }
  .hero-mobile__footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding-inline: 1rem;
    left: 0;
    bottom: 0;
  }
  .hero-mobile__footer p {
    font-family: var(--font-vela);
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: var(--lh-xs);
    letter-spacing: var(--ls-s);
  }
  .hero-mobile__slider {
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;
  }
  .hero-mobile__slider:before {
    content: "";
    position: absolute;
    inset: 0;
    background: #000;
    opacity: 0.5;
  }
  .hero-mobile__slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 767px) {
  .hero-mobile__title {
    font-size: 1.75rem;
  }
  .hero-mobile__footer p {
    font-size: 0.6875rem;
  }
}

@media (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }
}
@media (max-width: 1023px) {
  .mobile-menu {
    height: 100vh;
    background: var(--color-bg-primary);
    z-index: 100;
    padding-block: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  .mobile-menu.is-open {
    visibility: visible;
    opacity: 1;
  }
  .mobile-menu__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .mobile-menu__logo {
    display: block;
    width: 11.5rem;
    height: 3.75rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .mobile-menu__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 2.125rem;
    height: 2.125rem;
  }
  .mobile-menu__close::before {
    position: absolute;
    content: "";
    width: 3.125rem;
    height: 3.125rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mobile-menu__nav {
    margin-block: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.375rem;
  }
  .mobile-menu__nav a {
    font-size: 1.75rem;
    color: var(--color-text-secondary);
  }
  .mobile-menu__nav a.is-active {
    color: var(--color-text-primary);
  }
  .mobile-menu__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-menu__footer a {
    font-size: 1.25rem;
  }
  .mobile-menu__footer .switcher__text {
    font-size: 1.25rem;
  }
  .mobile-menu__footer .switcher__icon {
    width: 1.375rem;
    height: 1.375rem;
  }
  .mobile-menu__socials {
    display: flex;
    column-gap: 1rem;
  }
}
@media (max-width: 767px) {
  .mobile-menu__logo {
    width: 4.5rem;
    height: 1.4375rem;
  }
  .mobile-menu__close {
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  .mobile-menu__nav a {
    font-size: 1.125rem;
  }
  .mobile-menu__footer a {
    font-size: 0.6875rem;
  }
  .mobile-menu__footer .switcher {
    column-gap: 0.25rem;
  }
  .mobile-menu__footer .switcher__text {
    font-size: 0.6875rem;
  }
  .mobile-menu__footer .switcher__icon {
    width: 0.75rem;
    height: 0.75rem;
  }
  .mobile-menu__socials {
    display: flex;
    column-gap: 0.625rem;
  }
}

.footer__inner {
  position: relative;
}
.footer__body {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-top: 7.75rem;
  padding-bottom: 1.375rem;
  background: linear-gradient(0deg, #0d0d0d 0%, rgba(13, 13, 13, 0) 100%);
  z-index: 10;
}
.footer__info {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  margin-right: 13.75rem;
}
.footer__info a {
  color: var(--color-text-secondary);
}
.footer__contacts {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.3125rem;
}
.footer__list {
  display: flex;
  column-gap: 0.5rem;
}
.footer__warning {
  display: none;
  color: var(--color-text-secondary);
  font-family: var(--font-vela);
  font-weight: 600;
  font-size: 0.5rem;
  line-height: var(--lh-xs);
  letter-spacing: var(--ls-s);
}
.footer__warning--desktop {
  display: block;
}
.footer__by {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 0.25rem;
}
.footer__bg {
  position: absolute;
  padding-inline: var(--spacing-m);
  padding-bottom: 0.375rem;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.footer__image {
  width: 100%;
}
@media (max-width: 1023px) {
  .footer {
    visibility: visible;
  }
  .footer__body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 1.5rem;
  }
  .footer__bg {
    bottom: 2.8125rem;
  }
  .footer__contacts {
    grid-column: 1/-1;
    grid-row: 1;
    align-items: flex-start;
    margin-right: 0;
  }
  .footer__contacts p {
    display: none;
  }
  .footer__info {
    grid-column: span 4;
    width: 100%;
  }
  .footer__body {
    padding-top: 6.5625rem;
  }
  .footer__by {
    grid-column: span 3/-1;
  }
  .footer__list {
    flex-direction: column;
  }
  .footer__warning {
    grid-column: 1/-1;
    grid-row: 3;
  }
  .footer__warning--mobile {
    display: block;
  }
}
@media (max-width: 767px) {
  .footer__warning {
    padding-top: 0.5rem;
  }
  .footer__info {
    grid-column: span 6;
    margin-right: 0;
  }
  .footer__info p, .footer__info a {
    font-size: 0.5625rem;
  }
  .footer__body {
    padding-top: 0;
  }
  .footer__list {
    row-gap: 0.125rem;
  }
  .footer__list a {
    font-size: 0.5625rem;
  }
  .footer__item {
    height: 0.75rem;
  }
  .footer__by {
    grid-column: span 2/-1;
  }
  .footer__by a, .footer__by span {
    font-size: 0.5625rem;
  }
  .footer__bg {
    bottom: auto;
    top: 0.3125rem;
  }
}

.connection {
  padding-block: var(--section-padding-y);
}
.connection__title {
  grid-column: span 3;
  max-width: 17.1875rem;
}
.connection__body {
  grid-column: 7/span 6;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-l);
}
.connection__form {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-m);
}
.connection__list {
  display: flex;
  column-gap: var(--spacing-l);
}
@media (max-width: 1023px) {
  .connection {
    padding-top: 5rem;
    padding-bottom: 8.75rem;
  }
  .connection__title {
    max-width: 100%;
    margin-bottom: 1.5rem;
    grid-column: 1/-1;
  }
  .connection__body {
    grid-column: 1/-1;
    flex-direction: column-reverse;
    row-gap: 1.5rem;
  }
  .connection__form {
    row-gap: 0.75rem;
  }
  .connection__list {
    column-gap: 1.5rem;
  }
  .connection textarea {
    height: 3.4375rem;
  }
  .connection__contacts a {
    font-size: 1.25rem;
  }
}
@media (max-width: 767px) {
  .connection {
    padding-block: 3.125rem;
    padding-bottom: 6.25rem;
  }
  .connection textarea {
    height: 3.125rem;
  }
  .connection__contacts a {
    font-size: 0.6875rem;
  }
}

.favorites {
  padding-top: 5.625rem;
  padding-bottom: var(--section-padding-y);
}
.favorites__title {
  margin-bottom: var(--spacing-l);
}
.favorites__grid {
  row-gap: 3rem;
}
.favorites__item {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  cursor: pointer;
}
.favorites__item--active .favorites__image-wrapper::before {
  opacity: 0;
}
.favorites__item--active .favorites__case-name span {
  transform: translateY(0);
}
.favorites__image-wrapper {
  position: relative;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .favorites__image-wrapper::before {
    position: absolute;
    inset: 0;
    content: "";
    background: rgba(13, 13, 13, 0.8);
    transition: opacity 0.4s ease; /* Добавляем плавный переход для opacity */
  }
}
.favorites__image-wrapper img {
  width: 100%;
}
.favorites__case-name {
  display: flex;
  padding-left: 0.5rem;
  overflow: hidden;
}
.favorites__case-name span {
  font-family: var(--font-vela);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: var(--lh-s);
  letter-spacing: var(--ls-s);
}
@media (min-width: 1024px) {
  .favorites__case-name span {
    transform: translateY(101%);
    transition: transform 0.4s ease; /* Добавляем плавный переход для transform */
  }
}
.favorites__footer {
  padding-top: var(--spacing-m);
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1023px) {
  .favorites {
    padding-top: 5rem;
  }
  .favorites__title {
    margin-bottom: 1.5rem;
  }
  .favorites .favorites__item:nth-of-type(n + 13) {
    display: none;
  }
  .favorites__footer {
    padding-top: 1.5rem;
  }
  .favorites__link {
    width: 100%;
  }
  .favorites__case-name span {
    font-size: 0.9375rem;
  }
}
@media (max-width: 767px) {
  .favorites {
    padding-block: 3.125rem;
  }
  .favorites__item {
    grid-column: span 4;
    row-gap: 0.25rem;
  }
  .favorites__item:nth-of-type(n + 9) {
    display: none;
  }
  .favorites__title {
    margin-bottom: 1rem;
  }
  .favorites__grid {
    row-gap: 1rem;
  }
  .favorites__footer {
    padding-top: 2rem;
  }
}

.about {
  margin-top: -4.375rem;
}
.about__headline-wrapper {
  grid-column: span 8;
}
.about__headline {
  display: flex;
  align-items: flex-end;
  column-gap: 3.125rem;
}
.about__icon {
  width: 5.875rem;
  height: 5.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.about__body {
  grid-column: 10/span 3;
  display: flex;
  flex-direction: column;
  padding-top: 1.4375rem;
  row-gap: var(--spacing-l);
}
.about__text {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-m);
}
.about__text p {
  font-family: var(--font-vela);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: var(--lh-s);
  letter-spacing: var(--ls-s);
  margin-bottom: 0;
}
.about__word-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.about__subtext {
  text-transform: uppercase;
  font-family: var(--font-vela);
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: var(--lh-xs);
  letter-spacing: var(--ls-s);
}
.about__mind {
  flex: none;
  height: 5.875rem;
}
.about__matter {
  flex: none;
  height: 5.875rem;
}
.about__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__time span {
  color: var(--color-text-secondary);
}
@media (max-width: 1023px) {
  .about {
    margin-top: 0;
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
  .about__grid {
    row-gap: 3rem;
  }
  .about__headline-wrapper {
    grid-column: 1/-1;
  }
  .about__headline {
    flex-wrap: wrap;
    row-gap: var(--spacing-m);
    column-gap: 1.75rem;
  }
  .about__icon {
    margin-right: auto;
  }
  .about__word-wrapper:has(.about__matter) {
    margin-left: auto;
  }
  .about__subtext {
    display: none;
  }
  .about__body {
    padding-top: 0;
    grid-column: 1/-1;
    grid-row: 2;
    row-gap: 3rem;
  }
  .about__text {
    max-width: 34.5rem;
  }
  .about__mind {
    width: 17.5rem;
    height: 5.25rem;
  }
  .about__icon {
    width: 5.25rem;
    height: 5.25rem;
  }
  .about__matter {
    width: 27.5rem;
    height: 5.25rem;
  }
  .about__time {
    display: none;
  }
  .about__link {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .about {
    padding-block: 3.125rem;
  }
  .about__grid {
    row-gap: 2rem;
  }
  .about__body {
    row-gap: 2rem;
  }
  .about__text {
    row-gap: 0.5rem;
  }
  .about__text p {
    font-size: 0.6875rem;
  }
  .about__headline {
    column-gap: 0.25rem;
    row-gap: 0.5rem;
  }
  .about__mind {
    width: 6.9375rem;
    height: 2.0625rem;
  }
  .about__icon {
    width: 2.0625rem;
    height: 2.0625rem;
  }
  .about__matter {
    width: 10.9375rem;
    height: 2.0625rem;
  }
}

.service {
  padding-block: var(--section-padding-y);
}
.service__wrapper {
  height: 200vh;
}
.service__head {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-m);
}
.service__btn {
  font-family: var(--font-vela);
  font-size: 2.375rem;
  font-weight: 700;
  line-height: var(--lh-xs);
  letter-spacing: var(--ls-m);
  color: var(--color-text-secondary);
  background: transparent;
  border: none;
  text-align: start;
  padding: 0;
}
.service__btn--active {
  color: var(--color-text-primary);
}
.service__body {
  grid-column: 5/span 8;
  display: flex;
  flex-direction: column;
  row-gap: 3.125rem;
}
@media (max-width: 1023px) {
  .service {
    padding-block: 5rem;
  }
  .service__wrapper {
    height: auto;
  }
  .service__grid {
    row-gap: 1.5rem;
  }
  .service__head {
    grid-column: 1/-1;
    row-gap: 0.375rem;
  }
  .service__btn {
    font-size: 1.75rem;
  }
  .service__body {
    grid-column: 1/-1;
    grid-row: 2;
  }
  .service .accordion__body {
    display: flex;
    flex-direction: column;
    row-gap: 0.375rem;
  }
  .service .accordion__item {
    background-color: var(--color-bg-secondary);
  }
}
@media (max-width: 767px) {
  .service .accordion__body {
    row-gap: 0.25rem;
  }
  .service__btn {
    font-size: 1.125rem;
  }
}

.divider {
  height: 100vh;
  border: 0.0625rem solid tomato;
}

.team {
  padding-block: 6.875rem;
}
.team__title {
  margin-bottom: var(--spacing-m);
}
.team__grid {
  align-items: start;
}
.team__item {
  position: relative;
  cursor: pointer;
}
.team__item::before {
  position: absolute;
  content: "";
  z-index: 10;
  inset: 0;
  background-color: var(--color-bg-primary);
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.team__item.team__item--active::before {
  opacity: 0;
}
.team__show-wrapper {
  position: relative;
  min-height: 25rem;
  grid-column: 1/span 4;
}
.team__show {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-m);
  transition: opacity 0.3s ease;
  opacity: 0;
}
.team__show-image {
  object-fit: cover;
}
.team__show--active {
  opacity: 1;
}
.team__show-footer {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.team__show-post {
  color: var(--color-text-secondary);
}
.team__miniatures {
  grid-column: 5/span 8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
@media (min-width: 1024px) {
  .team .team__slider-mobile,
  .team .team__slider-buttons,
  .team .team__slider-miniatures {
    display: none;
  }
}
@media (max-width: 1023px) {
  .team {
    padding-block: 5rem;
  }
  .team__inner {
    position: relative;
  }
  .team__inner:before, .team__inner:after {
    content: "";
    position: absolute;
    top: 50%;
    height: 50%;
    width: 6.25rem;
    opacity: 0.6;
    z-index: 10;
    transform: translateY(-50%);
  }
  .team__inner:after {
    left: 0;
    background: linear-gradient(90deg, #0d0d0d 0%, rgba(13, 13, 13, 0) 100%);
  }
  .team__inner:before {
    right: 0;
    background: linear-gradient(270deg, #0d0d0d 0%, rgba(13, 13, 13, 0) 100%);
  }
  .team__title {
    margin-bottom: 1.5rem;
  }
  .team__grid {
    display: none;
  }
  .team__slider {
    /* Стилизуем как хотим */
  }
  .team__slider-mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .team__slider-main {
    max-width: 23rem;
    background: var(--color-bg-primary);
  }
  .team__slider-card {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
  }
  .team__slider-image {
    width: 23rem;
    height: 23rem;
  }
  .team__slider-image img {
    height: 100%;
    object-fit: cover;
  }
  .team__slider-text-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .team__slider-buttons {
    padding-inline: 2.8125rem;
    position: absolute;
    top: 44%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 20;
    transform: translateY(-50%);
    pointer-events: none;
  }
  .team__slider-prev-btn, .team__slider-next-btn {
    width: 2.125rem;
    height: 2.125rem;
    padding: 0;
    background: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    pointer-events: auto;
  }
  .team__slider-miniatures {
    position: absolute;
    width: 100%;
    left: 0;
    top: 44%;
    z-index: -1;
    transform: translateY(-50%);
  }
  .team__slider-miniatures-card {
    position: relative;
  }
  .team__slider-miniatures-card:after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--color-bg-primary);
    opacity: 0.6;
  }
  .team__btn {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .team {
    padding-block: 3.125rem;
  }
  .team__slider {
    /* Стилизуем как хотим */
  }
  .team__slider-mobile {
    position: relative;
  }
  .team__slider-main {
    max-width: 8.75rem;
    background: var(--color-bg-primary);
  }
  .team__slider-card {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
  }
  .team__slider-image {
    width: 8.75rem;
    height: 8.75rem;
  }
  .team__slider-text-wrapper {
    flex-direction: column;
  }
  .team__slider-buttons {
    padding-inline: 0.75rem;
  }
  .team__slider-prev-btn, .team__slider-next-btn {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .home .header__logo {
    display: none;
  }
}

.projects__grid {
  padding-top: 2rem;
  align-items: start;
}
.projects__spacer {
  height: 70vh;
}
.projects__nav {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  height: auto;
}
.projects__nav-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: transparent;
  border: none;
  color: var(--color-text-secondary);
  cursor: pointer;
}
@media (hover: hover) and (prefers-reduced-motion: no-preference) {
  .projects__nav-item:hover {
    color: var(--color-text-primary);
  }
}
.projects__nav-item.is-active {
  color: var(--color-text-primary);
}
.projects__nav-item span {
  color: inherit;
}
.projects__nav-fixed {
  grid-column: span 3;
  height: auto;
}
.projects__content {
  grid-column: span 8/-1;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.projects__content-item {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  cursor: pointer;
}
.projects__content-item .projects__content-image::after {
  transition: opacity 0.6s ease;
}
.projects__content-item.is-active .projects__content-overlay::after {
  opacity: 0;
}
.projects__content-overlay {
  position: relative;
}
.projects__content-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffffff;
  mix-blend-mode: hue;
}
.projects__content-image {
  grid-column: span 2;
}
.projects__content-image img {
  width: 100%;
}
.projects .filters {
  padding-top: 11.25rem;
}
.projects .filters a {
  transition: color 0.2s ease;
}
@media (hover: hover) and (prefers-reduced-motion: no-preference) {
  .projects .filters a:hover {
    color: var(--color-text-primary);
  }
}
.projects .filters a.is-active {
  color: var(--color-text-primary);
  font-weight: 600;
  pointer-events: none;
}
.projects .filters__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.projects .filters__category {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.75rem;
  row-gap: 0.375rem;
  max-width: 46.25rem;
}
.projects .filters__geo {
  display: flex;
  column-gap: 0.75rem;
}
@media (min-width: 1024px) {
  .projects__content-mobile {
    display: none;
  }
}
@media (max-width: 1023px) {
  .projects .filters {
    display: none;
  }
  .projects__nav {
    display: none;
  }
  .projects__spacer {
    display: none;
  }
  .projects__content {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 2rem;
  }
  .projects__content-item {
    display: block;
    grid-column: span 2;
  }
  .projects__content-mobile {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .projects__content-image {
    display: none;
  }
  .projects__grid {
    padding-top: 10rem;
  }
}
@media (max-width: 767px) {
  .projects__grid {
    padding-top: 6.25rem;
  }
  .projects__content-item {
    grid-column: span 4;
  }
}

.contacts .main {
  display: flex;
  align-items: center;
}
.contacts__socials {
  padding-inline: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (hover: hover) and (prefers-reduced-motion: no-preference) {
  .contacts__social-link:hover {
    color: var(--color-text-secondary);
  }
}
.contacts__footer {
  padding-inline: 1rem;
  position: absolute;
  left: 0;
  bottom: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
.contacts__address {
  justify-self: start;
}
.contacts__caption {
  font-size: 0.5rem;
  justify-self: center;
}
.contacts__by {
  justify-self: end;
}
@media (hover: hover) and (prefers-reduced-motion: no-preference) {
  .contacts__by:hover {
    color: var(--color-text-secondary);
  }
}
.contacts__bg {
  position: absolute;
  overflow: hidden;
  inset: 0;
  z-index: -1;
}
.contacts__bg-inner {
  height: 100%;
}
.contacts__bg-inner svg[fill] {
  fill: none;
}
.contacts__bg-inner svg [stroke] {
  stroke: var(--color-bg-secondary);
}
@media (max-width: 1023px) {
  .contacts__socials {
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .contacts__socials a {
    font-size: 1.75rem;
  }
  .contacts__footer {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.1875rem;
  }
  .contacts__address {
    grid-column: 1/span 1;
    grid-row: 1;
  }
  .contacts__caption {
    grid-row: 2;
    grid-column: 1/-1;
    justify-self: start;
  }
  .contacts__by {
    grid-column: 1/-1;
    grid-row: 1;
  }
}
@media (max-width: 767px) {
  .contacts__socials a {
    font-size: 1.125rem;
  }
  .contacts__footer {
    grid-template-columns: 1fr;
  }
  .contacts__address {
    grid-column: auto;
    grid-row: 2;
  }
  .contacts__by {
    grid-column: auto;
    grid-row: 1;
    justify-self: start;
  }
  .contacts__caption {
    grid-column: auto;
    grid-row: 3;
  }
}

.about-page {
  padding-top: 16.25rem;
}
.about-page__intro {
  margin-bottom: 4rem;
}
.about-page__intro p {
  font-family: var(--font-vela);
  font-size: 2.375rem;
  font-weight: 700;
  line-height: var(--lh-xs);
  letter-spacing: var(--ls-m);
  max-width: 98%;
}
@media (max-width: 1023px) {
  .about-page__intro p {
    font-size: 1.75rem;
  }
}
@media (max-width: 767px) {
  .about-page__intro p {
    font-size: 1.125rem;
  }
}
.about-page__item {
  grid-column: span 2;
}
.about-page .connection {
  padding-top: 13.125rem;
}
@media (max-width: 1023px) {
  .about-page__intro {
    margin-bottom: 5rem;
  }
  .about-page .connection {
    padding-top: 8.75rem;
  }
}
@media (max-width: 767px) {
  .about-page {
    padding-top: 11.25rem;
  }
  .about-page__intro {
    margin-bottom: 2rem;
  }
  .about-page__intro p {
    font-size: 1.125rem;
  }
  .about-page__item {
    grid-column: span 4;
  }
  .about-page .connection {
    padding-top: 6.25rem;
  }
}