@use "../abstracts" as *;


html {

  font-size: $vw-1512;

  @include laptop {
    font-size: $vw-1440;
  }

  @include tablet {
    font-size: $vw-768;
  }

  @include mobile {
    font-size: $vw-320;
  }
}

body {
  font-size: 20px;
  color: var(--color-text-primary);
  line-height: var(--lh-s);
  letter-spacing: var(--ls-s);
}

a {
  color: inherit;

  // Сбрасываем text decoration у ссылок с классами

  &[class] {
    text-decoration: none;
  }

}

.heading-l {
  font-family: var(--font-inter);
  font-size: 129px;
  font-weight: $font-weight-bold;
  line-height: var(--lh-xxs);
  letter-spacing: var(--ls-m);
}

.heading-m {
  font-family: var(--font-vela);
  font-size: 38px;
  font-weight: $font-weight-bold;
  line-height: var(--lh-xs);
  letter-spacing: var(--ls-m);

  @include tablet {
    font-size: 28px;
  }

  @include mobile {
    font-size: 18px;
  }
}

.text-preloader {
  font-family: var(--font-inter);
  font-weight: $font-weight-bold;
  font-size: 161px;
  line-height: var(--lh-xxs);
  letter-spacing: var(--ls-m);

}

.text-big {
  font-family: var(--font-vela);
  font-weight: $font-weight-semibold;
  font-size: 28px;
  line-height: var(--lh-s);
  letter-spacing: var(--ls-s);
}

.text-medium {
  font-family: var(--font-vela);
  font-weight: $font-weight-semibold;
  font-size: 20px;
  line-height: var(--lh-s);
  letter-spacing: var(--ls-s);
}

.text-small, .link {
  font-family: var(--font-vela);
  font-weight: $font-weight-semibold;
  font-size: 15px;
  line-height: var(--lh-xs);
  letter-spacing: var(--ls-s);

  @include mobile {
    font-size: 9px;
  }
}

.link:hover {
  color: var(--color-text-secondary);
}







